server:
  port: 8100
spring:
  application:
    name: book-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:54320/book_service
    username: root
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    url: jdbc:postgresql://localhost:54320/book_service
    user: root
    password: admin123
  jackson:
    serialization:
      fail-on-empty-beans: false
    default-property-inclusion: non_null
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
